div a{
    display: block;
    color: black;
    margin: 0%;
    font-size: 105%;
  }
  
  div a:hover{
    background: rgba(0, 0, 0, 0.1);
    color: black;
  }
  .backlog {
    height: calc(100vh - 123px);
    padding: 0px;
    overflow: auto;
    margin-top: -1rem;
  }
  .thingItem {
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0.75em;
    box-shadow: 1px 1px 3px 3px gray;
    box-sizing: 1px;
    padding: 1em;
    min-height: 300px;
    align-items: center;
    justify-content: space-between;
    float: left;
    width: 320px;
  }

  .thingItem:hover{
    box-shadow: 1px 1px 3px 3px #000;
      top: 0;
      left: -100%;
}

  .thingItem2 div span{
    padding: 1.5em;
    font-size: 18px;
    font-weight: bold;
  }

  .thingItem_man {
    display: flex;
    box-sizing: 1px;
    padding: 1rem;
    border-bottom: 1px solid #000;
    min-height: 3rem;
    align-items: center;
    justify-content: space-between;
  }

  .thingItem_man:hover{
    box-shadow: 1px 1px 3px 3px gray;
}

.thingItem_man2 {
  background-color: white;
  display: flex;
  box-sizing: 1px;
  padding: 1rem;
  border-bottom: 1px solid #000;
  min-height: 3rem;
  align-items: center;
  font-weight: bold;
  justify-content: space-between;
}

.thingItem span:first-child {
  padding-right: 1.5rem;
}
.center {
  justify-content: center;
}
.addThing a {
  color: #fff;
}
.updateThing a {
  color: #3e549c;
}

  .center{
    justify-content: center;
  }

 .iconoadd{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  
}

.imagen{
  width: 320px;
  height: 220px;
}

.iconoadd2:hover{
  background-color:#c0e359;
  color: white;
}


.buttonpagar{
  background-color: #c0e359;
  font-weight: bold;
  color:black;
  height: 50px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.buttonpagar:hover{
  background: rgba(0, 0, 0, 0.1);
  color: black;
}

.linke {
  background-color: inherit;
  color: #fff;
  border: none;
  text-decoration: none;
}

.overr{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: calc(100vh - 128px);
  padding: 0px;
  overflow: auto;
  margin-top: -1rem;
}

.overr2{
  height: calc(100vh - 128px);
  padding: 0px;
  overflow: auto;
  margin-top: -1rem;
}

.codigo{  
  text-align: center;
}

.spandetail{
  text-align: left;
}