nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #c0e359;
  color:#fff;
}

nav a{
  box-sizing: border-box;
  padding:1rem;
  margin:0;
  color:#fff;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  box-sizing: border-box;
  max-width: 50%;
  width:50%;
}

nav a:hover{
  background: rgba(0, 0, 0, 0.1);
  color: black;
}

.nav .nav-pills >li >a {
  color: black;
}
 .nav .nav-pills > li > a:hover {
   background-color: gold;
   color: black;
}

.nav .nav-pills .active {
 background-color: gold;
 color:Black ;
 font-weight:bold;
}