.logo{
    width: 200px;
    height: 210px;
    display: block;
  margin-left: auto;
  margin-right: auto;

}

div a{
  display: block;
  color: white;
  font-size: 140%;
  margin: 0%;
}

div a:hover{
  background: rgba(0, 0, 0, 0.1);
  color: black;
}


